<div class="card post-card">
  <div class="card-header row">
    <div class="col">
      <%= render 'sharred/user_avatar', object: comment.user %>
      <%= link_to comment.user.username, user_path(comment.user) %> | 
      <span><%= comment.created_at.strftime("%b %d") %></span>
    </div>

    <div class="col">
      <% if comment.user == current_user %>
        <%= button_to "Delete", [comment.post, comment], method: :delete, class: "btn btn-outline-danger rounded-pill", style: "float:right", data: {turbo_method: :delete, turbo_confirm: "are you sure?"} %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <%= comment.comment %>
  </div>
</div>