<%= form_for(:comment, url: post_comments_path(post)) do |f| %>
  <div class="row">
    <div class="col-md-1">
      <% if current_user.avatar.attached? %>
        <%= image_tag rails_blob_path(current_user.avatar, only_path: true)%>
      <% else %>
        <%= image_tag("default.jpg", alt: "profile image")%>
      <% end %>
    </div>
    <div class="col">
      <%= f.text_area :comment, placeholder: "post your comment!", class: "form-control mb-3", id: "autoresize" %>
    </div>
  </div>
  <%= f.submit "Reply", class: "btn btn-primary rounded-pill", style: "float:right"%>
<% end %>