<div class="set-border-x search-page">
  <!-- Page Heading -->
  <div class="card-header page-header">
    <%= link_to "BACK", :back, class: "btn btn-outline-light rounded-pill my-2 ms-2"%>
    Search
  </div>
  <div class="row mx-auto search-form page-header mt-3">
    <%= form_with url: search_users_path, method: :get do |f| %>
      <div class="col">
        <%= f.text_field :query, placeholder: "search for user!", class:"form-control rounded-pill", style: "float:left; width:500px" %>
      </div>
      <div class="col">
        <%= f.submit "Search", class:"btn btn-primary rounded-pill mb-3", style:"float:right;"%>
      </div>
    <% end %>
  </div>
  <% unless @users.nil? %>
    <div class="container my-3">
      <% @users.each do |user| %>
        <div class="card post-card mb-2 rounded-pill">
          <div class="card-header row">
            <div class="col">
              <% if user.avatar.attached? %>
                <%= image_tag rails_blob_path(user.avatar, only_path: true)%>
              <% else %>
                <%= image_tag("default.jpg", alt: "profile image") %>
              <% end %>
              <%= link_to user.username, user_path(user) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>