<div class="set-border-x">
  <!-- Page Header -->
  <div class="card-header">
    <%= link_to "BACK", :back, class: "btn btn-outline-light rounded-pill my-2 ms-2"%>
    <%= @user.username %>
  </div>
  <!-- User Following -->
  <div class="container">
    <% @user_following.each do |user| %>
      <div class="card post-card mb-2 rounded-pill">
        <div class="card-header row">
          <div class="col">
            <%= render 'sharred/user_avatar', object: user %>
            <%= link_to user.username, user_path(user) %>
          </div>

          <div class="col">
            <% if @user == current_user %>
              <%=render 'sharred/follow_button', user: @user, other_user: user%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>