<% if user_signed_in? %>
  <div class="set-border-x">
    <div class="row container mx-auto">

      <!-- NAV FOR HOME PAGE -->
      <nav class="nav">
        <h1 class="text-center ms-auto me-auto">HOME</h1>
      </nav>

      <!-- fORM fOR NEW POST -->
      <div class="card post-card home-form mb-5">
        <div class="card-body">
          <%= form_with model: @post, url: posts_path, method: :post do |f| %>
            <div class="row">
              <div class="col-md-1">
                <%= render 'sharred/user_avatar', object: current_user%>
              </div>
              <div class="col">
                <%= f.text_area :content, placeholder: "What is happening?", class: "form-control", id: "autoresize" %>
              </div>
            </div>

            <div class="card-footer mt-3">
              
              <% if @post.images.attached? %>
                <% @post.images.each do |image| %>
                  <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
                  <%= image_tag(image, height: 100) %>
                <% end %>
              <% end %>
              <%= f.file_field :images, multiple: true, class: "form-control", style: "width:280px; float:left; background:transparent; color:azure" %>

              <%= f.submit  class:"btn btn-primary rounded-pill", style: "float:right"%>
            </div>
          <% end %>
        </div>
      </div>

      <!-- DISPLAY TOTAL POST COUNT -->
      <div class="text-center" style="margin-top:-35px">
        <%= link_to "Show #{Post.count} Posts", posts_path, style: "text-decoration:none;" %>
      </div>
    </div>

    <div class="row container mx-auto">
      <% @posts.each do |post| %>

        <!-- Card For the Post -->
        <div class="card post-card mb-2">     
          <div class="row card-header">
            <div class="col">
              <%= render 'sharred/user_avatar', object: post.user %>
              <%= link_to post.user.username, user_path(post.user) %>
              <% if premium_user?(post.user) %>
                <i class="bi bi-patch-check-fill premium"></i>
              <% end %>
            </div>
            <div class="col pin-button">
              <%= render 'sharred/bookmark_button', post: post if premium_user?(current_user) %>
            </div>
          </div>
          <div class="card-body">
            <p> <%= post.content %> </p>
          </div>

          <!-- CAROUSEL FOR MULTIPLE IMAGES -->
          <% if post.images.attached? %>
            <div id="carouselExample-<%= post.id%>" class="carousel slide container my-2">

              <div class="carousel-inner">
                <% post.images.each do |image| %>
                  <div class="carousel-item active">
                    <%= image_tag(image, class: "rounded post-image") %>
                  </div>
                <% end %>
              </div>
              <% if post.images.count > 1 %>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample-<%= post.id%>" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample-<%= post.id %>" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              <% end %>
            </div>
          <% end %>
          <div class="card-footer">
            <div>
              <section class="mt-2" style="float:left;">
                <%= post.likes.count %>
                <span style="color:darkgray;">likes</span>
              </section>
              <%= link_to "show", post_path(post), class: "btn btn-primary rounded-pill ms-2", style: "float:right;"  %>

              <%= render 'sharred/liked_button', post: post %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<% else %>

  <h1 class="text-center">Welcome to CHAT LINK</h1>
  <%= link_to 'Sign_Up', new_user_registration_path, class: "btn btn-light home-signup-button" %> /
  <%= link_to 'Sign_In', new_user_session_path, class: "btn btn-outline-light"%>

<% end %>