<%= form_with(model: post) do |f| %>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control mb-3", placeholder: :content %>
  </div>

  <div>
    <%= f.label :images, "Upload Images" %>
    <% if post.images.attached? %>
      <% post.images.each do |image| %>
        <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
        <%= image_tag(image, height: 100) %>
      <% end %>
    <% end %>
    <%= f.file_field :images, multiple: true, class: "form-control mb-3" %>
  </div>

  <div>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>