<div class="set-border-x">
  <h1 class="text-center container mt-2">All Posts</h1>

  <div class="container">
    <% @posts.each do |post| %>
      <div class="card post-card mb-3">
        
        <div class="card-header">
          <% if post.user.avatar.attached? %>
            <%= image_tag rails_blob_path(post.user.avatar, only_path: true)%>
          <% else %>
            <%= image_tag("default.jpg", alt: "profile image") %>
          <% end %>

          <%= link_to post.user.username, user_path(post.user), style: "text-decoration:none;" %>
        </div>

        <div class="card-body">
          <p> <%= post.content %> </p>
        </div>

        <% if post.images.attached? %>
          <div id="carouselExample-<%=post.id%>" class="carousel slide container">
            
            <div class="carousel-inner">
              <% post.images.each do |image| %>
                <div class="carousel-item active">
                  <%= image_tag(image, class: "rounded post-image") %>
                </div>
              <% end %>
            </div>

            <% if post.images.count > 1 %>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample-<%=post.id%>" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample-<%=post.id%>" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            <% end %>
          </div>
        <% end %>

        <div class="card-footer">
          <section class="mt-2" style="float:left;">
            <%= post.likes.count %>
            <span style="color:darkgray;">likes</span>
          </section>
          <%= button_to "show", post_path(post), class:"btn btn-primary rounded-pill ms-2", method: :get %>
          <% if liked_post?(current_user, post) %>
            <%= button_to "Dislike", unlike_post_path(post), method: :delete, class: "btn btn-danger rounded-pill", style: "float:right" %>
          <% else %>
            <%= button_to "like", like_post_path(post), class: "btn btn-danger rounded-pill", style: "float:right", method: :post %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>