<div class="nav set-position-fixed full-height flex-column">
  
  <div clas="nav-item">
    <%= link_to '<i class="bi bi-chat-text"></i>ECHO'.html_safe, root_path, class: "nav-link mb-3", id: "logo" %>
  </div>

  <%= link_to '<i class="bi bi-house-door-fill"></i> Home'.html_safe, root_path, class: "nav-link mb-2"%>
  <%= link_to '<i class="bi bi-search"></i> Explore'.html_safe, explore_users_path, class: "nav-link mb-2"%>
  
  <%= link_to notification_path, class: "nav-link mb-2" do %>
    <i class="bi bi-bell"></i> Notification
    <% if user_notification_exists? %>
      <%= content_tag :span, @unread.count >= 9 ? "9+" : @unread.count, class: "badge rounded-pill bg-danger" %>
    <% end %>
  <% end %>

  <%= link_to '<i class="bi bi-envelope"></i> Message'.html_safe, conversations_path, class: "nav-link mb-2"%>
  <!-- <%= link_to 'List', root_path, class: "nav-link"%> -->
  <%= link_to '<i class="bi bi-bookmark"></i> Bookmarks'.html_safe, bookmarks_path, class: "nav-link mb-2"%>
  <!-- <%= link_to 'Communities', root_path, class: "nav-link"%> -->
  <%= link_to '<i class="bi bi-patch-check"></i> Premium'.html_safe, pricing_path, class: "nav-link mb-2"%>
  
  <% if user_signed_in? %>
  
    <%= link_to '<i class="bi bi-person"></i> Profile'.html_safe, user_path(current_user), class: "nav-link"%>
    
    <div class="nav-link">
      <%= button_to 'POST', new_post_path, class: "btn btn-primary mb-4 rounded-pill", method: :get, data: {bs_toggle: "modal", bs_target: "#exampleModal"}, style: "width:85%" %>
    </div>

    <div class="nav-link btn-group dropup">
      <button type="button" class="btn btn-secondary rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <% if current_user.avatar.attached? %>
          <%= image_tag rails_blob_path(current_user.avatar, only_path: true) %>
        <% else %>
          <%= image_tag("default.jpg", alt: "profile image") %>
        <% end %>
        <%= current_user.username %>
      </button>
      <ul class="dropdown-menu rounded">
        <li>
          <%= link_to "Admin Panel", admin_root_path, class: "dropdown-item" if admin? %>
        </li>
        <li>
          <%= link_to "Edit", edit_user_registration_path, class:"dropdown-item"%>
        </li>
        <li>
          <%= button_to "Sign Out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
        </li>
      </ul>
    </div>
  <% else %>
    <div class="nav-link">
      <%= button_to "Sign In", new_user_session_path, class: "btn btn-primary"%>
    </div>
  <% end %>
</div>