<div class="nav set-position-fixed full-height flex-column">
  
  <div clas="nav-item">
    <%= link_to 'CHAT LINK', root_path, class: "mb-3 nav-link", id: "logo" %>
  </div>

  <%= link_to 'Home', root_path, class: "nav-link"%>
  <%= link_to 'Explore', root_path, class: "nav-link"%>
  <%= link_to 'Notification', root_path, class: "nav-link"%>
  <%= link_to 'Message', root_path, class: "nav-link"%>
  <%= link_to 'List', root_path, class: "nav-link"%>
  <%= link_to 'Bookmarks', root_path, class: "nav-link"%>
  <%= link_to 'Communities', root_path, class: "nav-link"%>
  <%= link_to 'Premium', root_path, class: "nav-link"%>
  
  <% if user_signed_in? %>
  
    <%= link_to 'Profile', root_path, class: "nav-link"%>
    
    <div class="nav-link">
      <%= button_to 'POST', "#", class: "btn btn-primary mb-4"%>
    </div>

    <div class="nav-link btn-group dropup">
      <button type="button" class="btn btn-secondary rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <%= current_user.username %>
      </button>
      <ul class="dropdown-menu rounded">
        <li>
          <%= link_to "Edit", edit_user_registration_path, class:"dropdown-item"%>
        </li>
        <li>
          <%= button_to "Sign Out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
        </li>
      </ul>
    </div>
  <% else %>
    <div class="nav-link">
      <%= button_to "Sign In", new_user_session_path, class: "btn btn-primary"%>
    </div>
  <% end %>
</div>