<!DOCTYPE html>
<html>
  <head>
    <title>ECHO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">

      <div class = "row root-page">
        <% if user_signed_in? %>
          <div class = "col-md-3 mb-5">
            <%= render 'layouts/header' %>
          </div >
        <% end %>
        <div class = "col mx-auto create-new-post">
          <%= yield %>
        </div>
        <div class="col-2">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
